body {
  background-color: #aeecdb;
}

#radialBurst {
  width: 100vw;
  height: 250px;
}

header {
  position: relative;
  text-align: center;
  width: 100vw;
  height: 250px;
}

#title {
  font-family: 'Lobster Two';
  font-size: 60px;
  color: white;
  text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section {
  margin: auto;
  margin-bottom: 50px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 80%;
  min-height: 300px;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#leftSpan {
  flex: 1 1 50%;
  margin: 20px 0px 20px 20px;
}

#rightSpan {
  flex: 1 1 40%;
  margin: 20px 20px 20px 20px;
}

a {
  text-decoration: none;
  color: #6bcbb1;
}
a:hover {
  cursor: pointer;
}

h2 {
  font-family: 'Lobster Two';
  color: #6bcbb1;
  font-size: 30px;
}

button {
  background-color: white;
  color: #6bcbb1;
  outline: none;
  border: 1px solid lightgrey;
}

#glazedDonuts {
  width: 80%;
  height: auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

footer {
  background-color: #6bcbb1;
  height: auto;
  padding: 5px;
  width: 100vw;
  text-align: center;
  color: white;
  position: relative;
  bottom: 0;
}

footer a {
  color: white;
}

ul {
  margin: 0px 20px 20px 20px;
  padding: 20px;
}

li {
  list-style: none;
}

#pageTitle {
  margin: 0px 0px 0px 20px;
  padding: 10px;
  font-family: 'Lobster Two';
  display: inline-block;
}

#buttonBox {
  float: right;
  margin: 10px;
  display: inline;
}

form {
  margin-left: 20px;
}

input[type=text]{
  border: 1px solid lightgrey;
}

label {
  display: block;
  width: 150px;
}

input[type=submit] {
  display: block;
  margin-top: 10px;
  background-color: white;
  color: #6bcbb1;
  outline: none;
  border: 1px solid lightgrey;
}
