<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <title>Donut Tycoon</title>
</head>
<body>
  <header>
    <img src="/radialBurst.png" alt="Radial Burst Header Background" id='radialBurst'>
    <h1 id = 'title'>Donut Tycoon</h1>
  </header>

  <section>
      <h2 id = 'pageTitle'>Add a Location</h2>
      <div id='buttonBox'>
        <a href="/"><button id='homeButton'>Home</button></a>
        <a href="/"><button id='loginButton'>Login</button></a>
        <a href="/"><button id='signupButton'>Sign Up</button></a>
      </div>

      <form id = 'fullForm' method='POST' action="/shops">
        <label>Name:</label><input type="text" name='name'>
        <label>City:</label><input type="text" name='city'>
        <input type="submit">
      </form>
  </section>
  <footer>
    A full stack web app by <a href="http://www.rachelcavin.com">Rachel Cavin</a>.
  </footer>
</body>
</html>
